
/* ################################ details page ################################## */

.one {
    background-color: whitesmoke;
    color: black;

    padding: 5px;
    margin: 25px;
    box-sizing: border-box;
    border-radius: 100px;
    text-align: center;
}

.cat{
    align-content: space-around;

}

.two {
    padding: 5px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 60px;
    overflow: hidden;
    margin-bottom: 30px;
}
img.a {
    vertical-align: baseline;
    border-radius: 10px;
}

.footer1 {
    color: rgb(108, 75, 75);
    text-align: left;
    text-decoration: underline;
    text-decoration: solid;
}

.footer2,
.footer2 a {
    color: rgb(108, 75, 75);
    text-align: left;
    text-decoration-line: underline;
    text-decoration: solid;
}

.footer3 {
    color:rgb(108, 75, 75);
    text-align: left;
    text-decoration-line: underline;
    text-decoration: solid;
}
.info.p {
    color: rgb(108, 75, 75);
}
div.rowfooter {
    background-color: whitesmoke;
    margin-top: 5%;
}

a.navbar-brand {
    color: red;
    text-decoration: dotted;
}
nav.breadcrumb {
    color: red;
}
/* ################################ card ################################## */

div.card.sectioncard {
    background-color: white;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}
/* ################################ sub-title ################################## */

h1.display-3 {
    text-decoration: double;
    color: red;
}
h6.display-6{
color: red;
}
/* ################################ details page ################################## */

p.lead {
    color: black;
}
/* ################################ details page ################################## */

div.card.sectioncard img {
    height: 180px;
}
/* ################################ details page ################################## */
/* ################################ details page ################################## */

.DT{
    padding: 50px;
    margin: 50px;
    box-sizing: border-box;
    border-radius: 50px;
    
}
/* ################################ buttoms ################################## */

a.btn-primary {
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
a.btn-danger{
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}
/* ################################ details page ################################## */

div.title{

    color: red;
}
.standard{
    background-color: rgb(170, 116, 116);
    margin: auto;
    padding: 20%;
    box-sizing: border-box;
    border-radius: 5px;
}
.Premuim{
    background-color: rgb(193, 89, 89);
    margin: auto;
    padding: 20%;
    box-sizing: border-box;
    border-radius: 5px;
}
.VIP{
    background-color: rgb(213, 63, 63);
    margin: auto;
    padding: 20%;
    box-sizing: border-box;
    border-radius: 5px;
}
.VVIP{
    background-color: rgb(208, 28, 28);
    margin: auto;
    padding: 20%;
    box-sizing: border-box;
    border-radius: 5px;
}
.icon{
    color:red;

}
.btn1{
    background-color: rgb(170, 116, 116);
    color: whitesmoke;
    overflow: visible;

}
.btn2{
    background-color: rgb(193, 89, 89);
    color: whitesmoke;
    overflow: visible;

}
.btn3{
    background-color: rgb(213, 63, 63);
    color: whitesmoke;
    overflow: visible;

}
.btn4{
    background-color: rgb(208, 28, 28);
    color: whitesmoke;
    overflow: visible;

}
.sec{
    color: rgb(223, 25, 30);
    background-color: white;
    overflow: visible;

}
.login{
    background-color:whitesmoke ;
    color: rgb(213, 63, 63);
    overflow: visible;

}








/*
a.btn-secondary {
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
}
*/
/*
.dl{
    color: black;
}
*/

a.nav-link {
    color: red;
}
/* ################################ details page ################################## */

p.card-text {
    color: blue;
}
/* ################################ details page ################################## */


h5.card-title {
    color: red;
}
h4.card-title {
    color:black;
}
/* ################################ details page ################################## */

div.carousselslide {
    height: 180px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 3px;
}
/* ################################ details page ################################## */


.details{
    padding: 5px;
    /* margin-top: 20px; */
    box-sizing: border-box;
    border-radius: 60px;
    overflow: hidden;
    margin-bottom: 30px; 
}
h3.n{
    color: red;
}
p.s{
    text-decoration: double;
}
div.info1{
    color: red;
}
.ss{
    color: red;
}
.active{
color: rgb(163, 19, 19);;
}
.col-title{
    margin-top: 5%; 
    padding: 20px;
    box-shadow: 2px 2px 5px;
}
 .col-sub{
    color: rgb(205, 107, 107);
    margin-top: 5%; 
    text-decoration:underline;

} 
/*.details a{
    background-color: brown;
}

.details a:hover{
    background-color: aliceblue;
}


/* ################################ home page image text  ################################## */
/* div.carousel-caption{
    padding: 10px;
} */

/* ################################ admin ################################## */
div.admin{
    height: 100%;
    width: 80%;
    text-align: center;
    margin-top: 10%;

}
button.submit{
    margin: 5%
}
